*{
    text-align: center;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(31, 58, 58);
    background-color: aquamarine;
    background-size: 250%;
    font-size: xxx-large;
}
nav{
    background-color: rgb(49, 49, 49);
    font-size: x-large;
}
a{
    font-size: large;
    color: rgb(0, 136, 255);
}
footer{
    background-color: rgb(49, 49, 49);
    size: 50ch;
}
hr{
    color: black;
    size: 15px;
}
a:hover{
    color: blue;
    background-color: rgb(184, 200, 255);
}
a{
text-decoration-line: none;
}
section{
    color: rgb(104, 91, 3);
    outline-color: rgb(255, 217, 0);
    outline-width: 100%;
}